#toTopBtn:hover{
  box-shadow:0px 0px 7px 0px #e3cfcf;;
  /* padding:20px; */
  color:#e3cfcf;
  background-color: rgb(52, 47, 54);
}

/* -----footer---- */

footer{
  background-color: rgb(52, 47, 54);
  padding-top: 5px;
  padding-bottom: 5px;
  opacity:.9;

}
footer:hover{
  opacity:1;
}
   
#copyright{
  color:#e3cfcf;
}

@media (max-width:900px) and (min-width:700px){

  /* footer{
    
    opacity:1;
  } */
}