#toTopBtn:hover{
  box-shadow:0px 0px 7px 0px #e3cfcf;;
  /* padding:20px; */
  color:#e3cfcf;
  background-color: rgb(52, 47, 54);
}

/* -----footer---- */

footer{
  background-color: rgb(52, 47, 54);
  padding-top: 1px;
  padding-bottom: 1px;
  opacity:.9;

}
footer:hover{
  opacity:1;
}
   
#copyright{
  color:#e3cfcf;
}

