/* -----picture related-------- */

/* Create a Parallax Effect */

.bgImg {
  /* background-attachment: fixed!important; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* -----Text in bg img 1------ */

#bgTextLeft{
  position:absolute;
  top:30%;
  left:3%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%);
  white-space:nowrap;
  text-shadow: 3px 1px 0px #bc8f8f;
}

#bgTextRight{
  position:absolute;
  top:60%;
  right:3%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
  white-space:nowrap;
  text-shadow: 3px 2px 0px #bc8f8f;

  
}

#rightSpan{
  padding:12px 24px!important;
  font-size:12px!important;
  animation:opac 0.8s;
}

#nameSpan{
  font-size: 40px;
  padding:10px;
}

#jobSpan{
  font-size: 28px;
  padding:10px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgImg {
    background-attachment: scroll;
    min-height: 800px;
  }
}
@media (min-width:1024px){
  .bgImg {
    background-attachment: fixed!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  }

  @media (max-width:700px){
    .hide-small{
      display:none!important;
    }
  
    #bgTextLeft{
      top:30%;
      left:0%;
    }
    #nameSpan{
      font-size:30px;
    }
    #jobSpan{
      font-size:18px;
    }
  
    .iconsTop{
      font-size: 3em;
    }
    
  
    #git,
    #linkedIn {
    width: 60px;
    height: 60px;
    padding: 5px;
    }
  
    .iconsTop{
      /* font-size:2em; */
      padding:5px;
    }
    /* .iconsTop:hover{
      font-size:3em;
    } */
  
    .fa-laptop{
      padding: 0 5px 0 5px;
    }
  
  
  }
  